In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

,State of University,Name of University,State of Regional Center,District of Regional Center,Level,Total Enrolment Male,Total Enrolment Female,Total Enrolment
0,Andhra Pradesh,"Acharya Nagarjuna University, Guntur (Id: U-0003)",Andhra Pradesh,Guntur,PG Diploma,150,102,252
1,Andhra Pradesh,"Acharya Nagarjuna University, Guntur (Id: U-0003)",Andhra Pradesh,Guntur,Under Graduate,3584,3255,6839
2,Andhra Pradesh,"Acharya Nagarjuna University, Guntur (Id: U-0003)",Andhra Pradesh,Guntur,Post Graduate,3389,3150,6539
3,Andhra Pradesh,"Acharya Nagarjuna University, Guntur (Id: U-0003)",Andhra Pradesh,Guntur,Diploma,47,36,83
4,Andhra Pradesh,"Andhra University, Visakhapatnam (Id: U-0006)",Andhra Pradesh,Visakhapatnam,Post Graduate,17095,15735,32830

In [5]:

state_filter = data["State of Regional Center"].unique()
filtered_data = data[data["State of Regional Center"] == state_filter]

st.subheader("Enrollment by District with Male/Female Breakdown")

districts = filtered_data["District of Regional Center"].unique()

# Calculate total, male, and female enrollment for each district
data_for_plot = []
for district in districts:
    district_data = filtered_data[filtered_data["District of Regional Center"] == district]
    total_enrollment = district_data["Total Enrolment"].sum()
    male_enrollment = district_data["Total Enrolment"].sum()
    female_enrollment = district_data["Total Enrolment"].sum()
    data_for_plot.append([district, total_enrollment, male_enrollment, female_enrollment])

# Create a bar chart with stacked bars for male and female enrollment
fig, ax = plt.subplots()

x = [row[0] for row in data_for_plot]  # District names
total_enrollments = [row[1] for row in data_for_plot]
male_enrollments = [row[2] for row in data_for_plot]
female_enrollments = [row[3] for row in data_for_plot]

p1 = ax.bar(x, total_enrollments, label="Total Enrollment")
p2 = ax.bar(x, male_enrollments, bottom=female_enrollments, label="Male Enrollment")
p3 = ax.bar(x, female_enrollments, label="Female Enrollment")

plt.xlabel("District of Regional Center")
plt.ylabel("Enrollment")
plt.xticks(rotation=45, ha="right")
plt.tight_layout()
plt.legend()

st.pyplot(fig)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1515 entries, 0 to 1514
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State of University          1515 non-null   object
 1   Name of University           1515 non-null   object
 2   State of Regional Center     1515 non-null   object
 3   District of Regional Center  1515 non-null   object
 4   Level                        1515 non-null   object
 5   Total Enrolment - Male       1515 non-null   int64
 6   Total Enrolment - Female     1515 non-null   int64
 7   Total Enrolment - Total      1515 non-null   int64
dtypes: int64(3), object(5)
memory usage: 94.8+ KB

In [6]:
df.shape

(1515, 8)

KeyError: False

In [9]:
d

NameError: name 'd' is not defined